body {
  background-image: url("https://media.istockphoto.com/id/1671592188/photo/global-network-security.jpg?s=612x612&w=0&k=20&c=Gzo8wEOixMEDxmKFwumttF9N34zjKkAaFyOoBKuQzwg=");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    background: white;
    border: none;
    border-radius: 5px;
}

#content {
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}
